{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "endOfLine": "lf",
    "importOrder": [
        "^constants/(.*)$",
        "^models/(.*)$",
        "^other/(.*)$",
        "^repos/(.*)$",
        "^routes/(.*)$",
        "^services/(.*)$",
        "^utils/(.*)$",
        "^controllers/(.*)$",
        "^middlewares/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}